In [2]:
import sys
import os
from dotenv import load_dotenv
import pandas as pd

# プロジェクトルートのパスを追加（quantechiaがあるディレクトリ）
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
load_dotenv()

True

## FamaFrench

In [39]:
from factor import fama_french
import importlib
importlib.reload(fama_french)
from factor.fama_french import *
#指定しないと米国5ファクター
get_ff()

/workspaces/マイドライブ/quantechia/factor/fama_french.py:23: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  data = ff.FamaFrenchReader(dataname, start=start,).read()
/workspaces/マイドライブ/quantechia/factor/fama_french.py:23: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  data = ff.FamaFrenchReader(dataname, start=start,).read()

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
1963-07   -0.39 -0.41 -0.97  0.68 -1.18  0.27
1963-08    5.07 -0.80  1.80  0.36 -0.35  0.25
1963-09   -1.57 -0.52  0.13 -0.71  0.29  0.27
1963-10    2.53 -1.39 -0.10  2.80 -2.01  0.29
1963-11   -0.85 -0.88  1.75 -0.51  2.24  0.27
...         ...   ...   ...   ...   ...   ...
2024-08    1.61 -3.65 -1.13  0.85  0.86  0.48
2024-09    1.74 -1.02 -2.59  0.04 -0.26  0.40
2024-10   -0.97 -0.88  0.89 -1.38  1.03  0.39
2024-11    6.51  4.78 -0.05 -2.62 -2.17  0.40
2024-12   -3.17 -3.87 -2.95  1.82 -1.10  0.37

[738 rows x 6 columns]

## Global Factor Data

In [40]:

from factor import global_factors
import importlib
importlib.reload(global_factors)
from factor.global_factors import *
df = get_global_factor()
df

       location      name     freq weighting  n_factors        date       ret
0           are  accruals  monthly    vw_cap          5  2007-07-31  0.021821
1           are  accruals  monthly    vw_cap          5  2007-08-31  0.014191
2           are  accruals  monthly    vw_cap          5  2007-09-30  0.015251
3           are  accruals  monthly    vw_cap          5  2007-10-31  0.102873
4           are  accruals  monthly    vw_cap          5  2007-11-30 -0.032940
...         ...       ...      ...       ...        ...         ...       ...
259731      zwe     value  monthly    vw_cap         12  2023-08-31 -0.082197
259732      zwe     value  monthly    vw_cap         13  2023-09-30  0.070433
259733      zwe     value  monthly    vw_cap         12  2023-10-31 -0.101910
259734      zwe     value  monthly    vw_cap         14  2023-11-30  0.177159
259735      zwe     value  monthly    vw_cap         14  2023-12-31  0.013309

[259736 rows x 7 columns]

In [41]:
from factor import factor_data
import importlib
importlib.reload(factor_data)
from factor.factor_data import *

## Fred Factor

In [42]:
get_fredmd_factor()

,F1,F2,F3,F4,F5,F6,F7
1959-03-01,6.986977,-1.129161,1.359259,-0.759333,-0.143206,1.484646,0.472098
1959-04-01,7.927518,-0.156760,1.326584,0.697441,-0.118482,1.941827,-1.520893
1959-05-01,5.451002,-0.663844,1.411753,0.371796,0.275013,0.966867,-0.842961
1959-06-01,1.872935,0.012668,-1.001343,1.519391,1.099478,0.869477,0.264461
1959-07-01,-2.360994,-1.101316,-2.472874,0.504710,2.703932,0.693081,2.337538
...,...,...,...,...,...,...,...
2024-05-01,-0.765439,-4.496705,1.329860,-0.511730,-2.510456,-0.663418,0.111747
2024-06-01,-2.205541,1.287500,-1.180130,-0.227836,-1.086981,-1.104403,-1.050531
2024-07-01,-1.862222,2.691092,-2.422067,-0.202886,-1.251411,0.494476,1.936547
2024-08-01,-0.951710,-0.617304,-0.436359,-3.118182,-2.609471,1.170142,-1.265387
2024-09-01,-2.002398,0.746781,-1.585077,-2.289466,-2.537987,0.110113,1.553472

## Create Factor

In [46]:
from factor import create_factor
import importlib
importlib.reload(create_factor)
from factor.create_factor import *

In [47]:
from data.data_fetcher import *
tx100 = get_topix_list('TX100')
rtn_df = get_stooq_rtn([i+'.JP' for i in tx100[:10]])
rtn_df.head()

Symbols,1925.JP,1928.JP,2502.JP,2503.JP,2802.JP,2914.JP,3382.JP,3407.JP,4063.JP,4188.JP
Date,,,,,,,,,,
2020-02-12,-0.015440,0.000000,0.005807,0.001998,0.017421,-0.003242,-0.005299,-0.001891,-0.012244,-0.013841
2020-02-13,0.013972,0.010285,-0.016942,-0.002595,-0.007054,-0.004554,-0.017523,0.007092,0.011263,0.014569
2020-02-14,-0.062433,-0.019548,-0.018795,0.012597,0.011926,-0.008707,0.009398,-0.011739,0.007433,0.002002
2020-02-17,0.023695,0.000416,-0.036720,-0.077012,-0.015303,-0.009661,0.000449,-0.014719,0.004789,0.002893
2020-02-18,-0.020508,-0.025955,-0.019056,-0.010911,-0.002536,-0.001557,-0.000449,-0.009153,-0.019445,-0.004273

In [48]:
cal_pca_factor(rtn_df)

                 PC1       PC2       PC3       PC4       PC5       PC6
Date
2020-02-12 -0.673769  1.117964  0.677864 -0.312030 -0.159113 -0.247582
2020-02-13  0.254333 -1.700719  0.309188 -0.234292 -0.103826 -0.517684
2020-02-14 -2.009149  1.471614  0.375257  0.867985 -1.578919  1.991107
2020-02-17 -2.473231 -3.959586  0.846320  2.572201  1.629766 -0.635951
2020-02-18 -2.342960  0.268695 -0.029663  0.706121  0.304916  0.506643
...              ...       ...       ...       ...       ...       ...
2025-01-31 -0.388280 -0.414064 -0.343722  0.792218 -0.056110 -0.422112
2025-02-03 -3.683342  0.897155  0.135960 -0.439908  1.549262 -0.788513
2025-02-04  0.269460  0.613702  2.113227  1.163741  0.567884 -0.729976
2025-02-05 -0.612922 -1.110728 -1.071360 -0.417925 -0.361820  0.104642
2025-02-06  0.849751 -0.520322  0.772343 -0.355205 -0.734957  0.113999

[1220 rows x 6 columns]

In [49]:
cal_fa_factor(rtn_df)

/usr/local/lib/python3.12/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(
/usr/local/lib/python3.12/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

             Factor1   Factor2   Factor3
Date
2020-02-12  0.298472 -0.208773 -0.638321
2020-02-13 -0.681677  0.584681  0.539527
2020-02-14  0.615875 -2.206908 -0.015441
2020-02-17 -4.527347  1.495583  0.825830
2020-02-18 -0.535928 -1.379132  0.040939
...              ...       ...       ...
2025-01-31 -0.443001 -0.217719  0.416234
2025-02-03 -0.652949 -0.816284 -1.292898
2025-02-04 -0.479793  0.154966  0.356396
2025-02-05 -0.430968  0.338224 -0.187850
2025-02-06  0.111393  0.324984  0.307605

[1220 rows x 3 columns]

In [50]:
rolling_factor(rtn_df,'pca', window=60,num_components=3)

                 PC1       PC2       PC3
Date
2020-05-13  0.227730 -0.041528  0.345640
2020-05-14 -3.030445  0.618140  0.353280
2020-05-15  0.663166  0.231265 -0.047876
2020-05-18  1.161578  0.650038  0.671303
2020-05-19  2.556069 -0.524981 -1.092135
...              ...       ...       ...
2025-01-31 -0.526101  0.554162  0.147020
2025-02-03 -5.149127 -1.588742 -1.841504
2025-02-04  0.496468 -1.736837 -1.252370
2025-02-05 -0.326137  0.322413  1.343733
2025-02-06  2.118880 -0.869214  0.297607

[1161 rows x 3 columns]

In [11]:
import pandas_datareader as  web
ticker_list = ['7203.JP']
bm_ticker = '^TPX'
date_s = '2020-01-01'
date_e = '2023-10-01'
# データの取得
stock_price = web.DataReader(ticker_list, "stooq", start=date_s, end=date_e).sort_index()
tp_price =  web.DataReader([bm_ticker], "stooq", start=date_s, end=date_e).sort_index()

In [31]:

#beta
# リターンを計算
sp_returns = tp_price['Close'].pct_change().dropna()*100  # S&Pのリターン
st_returns = stock_price['Close'].pct_change().dropna(how='all')*100  # 個別銘柄のリターン

combined_returns = pd.concat([st_returns, sp_returns], axis=1).dropna(subset=[bm_ticker])
cov_matrix = combined_returns.cov(ddof=0).to_numpy()  # 共分散行列を計算
betas_matrix = cov_matrix[:-1, -1] / cov_matrix[-1, -1]  # ベータを計算
beta = pd.Series(betas_matrix, index=st_returns.columns, name='beta')

beta = beta.reset_index()
beta.columns = ['ticker','Mkt']
beta

    ticker       Mkt
0  7203.JP  1.124459

In [38]:
import pandas as pd
import numpy as np

def calculate_beta_from_df_fast(stock_returns: pd.DataFrame, benchmark_return: pd.DataFrame) -> pd.DataFrame:
    """
    Calculate the beta values of multiple stocks relative to a benchmark index.

    Parameters:
        stock_returns (pd.DataFrame): A DataFrame of stock closing returns. 
                                     Columns should be stock tickers, index should be datetime.
        benchmark_return (pd.DataFrame): A DataFrame containing the benchmark's closing return. 
                                        Must have a column named 'Close' and datetime index.

    Returns:
        pd.DataFrame: A DataFrame with columns ['ticker', 'beta'].
    """
    
    # Combine stock and benchmark returns into one DataFrame
    combined_returns = pd.concat([stock_returns, benchmark_return], axis=1).dropna(subset=benchmark_return.columns)

    # Compute covariance matrix (stocks + benchmark)
    cov_matrix = combined_returns.cov(ddof=0).to_numpy()

    # Calculate beta for each stock relative to the benchmark
    beta_values = cov_matrix[:-1, -1] / cov_matrix[-1, -1]

    # Create a DataFrame of betas
    beta_df = pd.DataFrame({
        'ticker': stock_returns.columns,
        'beta': beta_values
    })

    return beta_df



def calculate_beta_from_df(stock_returns: pd.DataFrame, benchmark_returns: pd.Series) -> pd.DataFrame:
    """
    Calculate beta values for multiple stocks relative to a benchmark using pairwise NaN removal.
    
    Parameters:
        stock_returns (pd.DataFrame): Daily returns of multiple stocks (tickers as columns).
        benchmark_returns (pd.Series): Daily returns of the benchmark index.
        
    Returns:
        pd.DataFrame: A dataframe with 'ticker' and 'beta' columns.
    """
    # Create an empty list to store betas
    beta_list = []

    # Loop through each stock (column)
    for ticker in stock_returns.columns:
        # Create a DataFrame for the stock and benchmark returns
        pair_df = pd.concat([stock_returns[ticker], benchmark_returns], axis=1).dropna()
        pair_df.columns = ['stock', 'benchmark']

        # Skip if not enough data (at least 2 data points required)
        if len(pair_df) < 2:
            continue

        # Calculate covariance matrix for this pair
        cov_matrix = pair_df.cov(ddof=0)

        # Calculate beta: Cov(stock, benchmark) / Var(benchmark)
        beta = cov_matrix.loc['stock', 'benchmark'] / cov_matrix.loc['benchmark', 'benchmark']

        # Append the result for this ticker
        beta_list.append({'ticker': ticker, 'beta': beta})

    # Return as a DataFrame
    return pd.DataFrame(beta_list)

In [39]:
calculate_beta_from_df_fast(st_returns, sp_returns)

    ticker      beta
0  7203.JP  1.124459

In [40]:
calculate_beta_from_df(st_returns, sp_returns)

    ticker      beta
0  7203.JP  1.123231

In [26]:
betas_matrix

array([1.12323051])

In [21]:
b,merged = calculate_beta_from_dfs(st_returns, sp_returns, stock_col='7203.JP', benchmark_col='^TPX')

In [22]:
merged

Symbols      7203.JP      ^TPX
Date
2020-01-07  1.982970  1.623574
2020-01-08 -1.270658 -1.370975
2020-01-09  0.696029  1.625132
2020-01-10 -0.117830  0.353373
2020-01-14  1.018890  0.309482
...              ...       ...
2023-09-25 -0.968405  0.388424
2023-09-26 -1.629791 -0.568434
2023-09-27  1.159946  0.319991
2023-09-28 -0.441657 -1.429694
2023-09-29 -1.053067 -0.943078

[914 rows x 2 columns]

## ここから

In [40]:

import pandas_datareader as web
def cal_price_data(date_s, date_e, ticker_list, bm_ticker='^TPX'):
    stock_price = web.DataReader(ticker_list, "stooq", start=date_s, end=date_e).sort_index()
    tp_price =  web.DataReader([bm_ticker], "stooq", start=date_s, end=date_e).sort_index()

    #beta
    # リターンを計算
    sp_returns = tp_price['Close'].pct_change().dropna()*100  # S&Pのリターン
    st_returns = stock_price['Close'].pct_change().dropna(how='all')*100  # 個別銘柄のリターン

    combined_returns = pd.concat([st_returns, sp_returns], axis=1).dropna(subset=[bm_ticker])
    cov_matrix = combined_returns.cov(ddof=0).to_numpy()  # 共分散行列を計算
    betas_matrix = cov_matrix[:-1, -1] / cov_matrix[-1, -1]  # ベータを計算
    beta = pd.Series(betas_matrix, index=st_returns.columns, name='beta')

    beta = beta.reset_index()
    beta.columns = ['ticker','Mkt']
    beta

    # 12か月前の価格を取得（252営業日 = 約12か月）
    price_12m_ago = stock_price.shift(252)

    # 1か月前の価格を取得（21営業日 = 約1か月）
    price_1m_ago = stock_price.shift(21)

    # 対数リターンを計算
    log_return = np.log(price_1m_ago / price_12m_ago)
    # 結果を表示

    log_rtn = log_return.dropna(how='all').resample('D').ffill()['Close'].stack().reset_index()
    log_rtn.columns = ['date', 'ticker', 'log_rtn']
    log_rtn['date'] = log_rtn['date'].astype(str)
    log_rtn.head()

    price_data = stock_price.resample('D').ffill()['Close'].stack().reset_index()
    price_data.columns = ['date', 'ticker', 'price']
    price_data['date'] = price_data['date'].astype(str)
    price_data.head()
    return beta, log_rtn, price_data

def make_std(data, v_weight, lower_tile=0.01, upper_tile=0.99, upper=3, lower=-3):
    data = pd.DataFrame(data)
    if len(data) > 100:
        lower_v = data.quantile(lower_tile).iloc[0]
        upper_v = data.quantile(upper_tile).iloc[0]
        data.clip(lower=lower_v, upper=upper_v, inplace=True)
    data.columns=v_weight.columns
    weighted_mean = (data * v_weight).sum() / v_weight.sum()
    weighted_std = (((data-weighted_mean) ** 2 * v_weight).sum() / v_weight.sum()) ** 0.5
    std_val = (data-weighted_mean)/weighted_std
    std_val.clip(lower, upper, inplace=True)
    return std_val

def cal_std(data, lower_tile=0.005, upper_tile=0.995, upper=3, lower=-3):
    data = pd.DataFrame(data)
    if len(data) > 100:
        # 上位1％と下位1％の値を各列ごとに計算
        lower_v = data.quantile(lower_tile)
        upper_v = data.quantile(upper_tile)
        data.clip(lower=lower_v, upper=upper_v, inplace=True, axis=1)

    std_val = (data-data.mean())/data.std()

    # クリップして上限下限を設定
    std_val.clip(lower=lower, upper=upper, inplace=True)
    std_val.clip(lower, upper, inplace=True)
    return std_val


def cal_fct_exp(data_raw):



    date_e = datetime.datetime.strptime(str(data_raw['date'].min()), '%Y-%m-%d')+datetime.timedelta(days=5)

    date_s = datetime.datetime.strptime(str(data_raw['date'].min()), '%Y-%m-%d')-datetime.timedelta(days=740)
    data_raw['ticker'] = data_raw['secCode'].astype(str).str[:4]+'.JP'

    ticker_list = list(data_raw['ticker'])
    beta, log_rtn, price_data =  cal_price_data(date_s, date_e, ticker_list)

    data = pd.merge(data_raw, beta, on=['ticker'],how='left')
    data = pd.merge(data, price_data, on=['date','ticker'],how='left')
    data = pd.merge(data, log_rtn, on=['date','ticker'],how='left')

    data['Size'] = np.log(data['shares_outstanding']*data['price'])
    data['1/PER'] = data['net_income_loss'] / (data['price'] * data['shares_outstanding'])
    data['ROA'] = data['net_income_loss'] / data['assets']
    data['ROE'] = data['net_income_loss'] / data['shareholders_equity']
    data['1/PBR'] = data['assets'] / (data['price'] * data['shares_outstanding'])
    data['asset_growth'] = (data['assets_b']-data['assets']) / data['assets']


    data['SMB'] = -cal_std(data['Size'])
    v_weight = data[['Size']]
    data['1/PBR_std'] = cal_std(data['1/PBR'])
    data['1/PER_std'] = cal_std(data['1/PER'])
    data['HML'] = make_std((data['1/PBR_std'] + data['1/PER_std'])/2,v_weight)

    data['ROA_std'] = cal_std(data['ROA'])
    data['ROE_std'] = cal_std(data['ROE'])
    data['RMW'] = make_std((data['ROA_std'] + data['ROE_std'])/2, v_weight)

    data['CMA'] = make_std(data['asset_growth'],v_weight)
    data['UMD'] = cal_std(data['log_rtn'])
    # Convert the DataFrame to JSON and return
    data = data.replace({np.nan: None, np.inf: None, -np.inf: None})
    # Reset the index and make the index a column
    
    df_reset = data[['secCode','date','filerName','EndDate','Mkt', 'HML', 'SMB', 'CMA', 'RMW', 'UMD']]
    # df_reset = data_raw[['secCode','date','filerName','EndDate']]

    # Convert to dictionary with index included
    result = df_reset.to_dict(orient='records')
    
    return result



def get_data(url):
    headers = {
        'User-Agent': 'email@gmail.com',
    }


    # リクエストを送信してJSONデータを取得
    response = requests.get(url, headers=headers)

    # レスポンスの内容を確認
    if response.status_code == 200:
        # JSONデータをDataFrameに読み込む
        data = response.json()
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")
    return data

import requests

def cal_fct_exp_edgar(date, cik_list):

    
    # CIKコードのリストを取得（ここでは 'CIK' 列を持つと仮定）
    cik_list = df.iloc[:,0].tolist()
    print(cik_list)

    date_b = str(int(date[:4]) -1) + date[4:]

    url = "https://www.sec.gov/files/company_tickers.json"
    data = get_data(url)
    ticker_df = pd.DataFrame(data).T
    ticker_df.columns = ['cik','ticker','title']
    if cik_list==[]:

        # S&P 500構成銘柄がリストされているWikipediaページのURL
        url = 'http://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

        # Wikipediaページ中のすべての表を読み込む
        tables = pd.read_html(url)

        # S&P 500構成銘柄が含まれる最初の表を取得
        df_sp500 = tables[0]
        columns = [
            'Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry',
            'Headquarters Location', 'Date added', 'CIK', 'Founded'
        ]
        df_sp500.columns = columns

        sp_cik = df_sp500['CIK'].tolist()
    else:
        sp_cik = [int(i) for i in cik_list]
        ticker_df = ticker_df[ticker_df['cik'].isin(sp_cik)]
    concept_names = [
        'NetIncomeLoss',
        'Assets',
        # 'OperatingIncomeLoss',
        'StockholdersEquity',
        'CommonStockSharesOutstanding'
    ]
    concept_names_i = [
        'Assets',
        'StockholdersEquity',

    ]
    df = pd.DataFrame()

    for concept_name in concept_names:
        if concept_name == 'CommonStockSharesOutstanding':
            url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/shares/CY{date}I.json'
        elif concept_name in concept_names_i:
            url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/USD/CY{date}I.json'
        else:
            url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/USD/CY{date}.json'
        data = get_data(url)
        df_ = pd.DataFrame(data['data'])
        # df_ = df_[df_['cik'].isin(sp_cik)].loc[:,['cik','val']]
        df_ = df_.loc[:,['cik','end','val']]
        df_ = df_.rename(columns={'val':concept_name})
        if len(df) == 0:
            df = df_
        else:
            df = pd.merge(df, df_, on=['cik','end'])

    concept_name = 'Assets'
    url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/USD/CY{date_b}I.json'
    data = get_data(url)
    df_ = pd.DataFrame(data['data'])
    df_ = df_.loc[:,['cik','val']]
    df_ = df_.rename(columns={'val':concept_name})
    df = pd.merge(df, df_, on=['cik'], suffixes=['', '_b'])
    df_sp = df[df['cik'].isin(sp_cik)]
    data_raw = pd.merge(ticker_df,df_sp,  on=['cik'])
    data_raw = data_raw.rename(columns={'end':'date'})
    print(data_raw)

    date_e = datetime.datetime.strptime(str(df_sp['end'].max()), '%Y-%m-%d')+datetime.timedelta(days=5)

    date_s = datetime.datetime.strptime(str(df_sp['end'].min()), '%Y-%m-%d')-datetime.timedelta(days=740)


    ticker_list =  list(ticker_df[ticker_df['cik'].isin(df_sp['cik'].tolist())]['ticker'])
    beta, log_rtn, price_data =  cal_price_data(date_s, date_e, ticker_list, bm_ticker='^SPX')

    data = pd.merge(data_raw, beta, on=['ticker'],how='left')
    data = pd.merge(data, price_data, on=['date','ticker'],how='left')
    data = pd.merge(data, log_rtn, on=['date','ticker'],how='left')

    data['Size'] = np.log(data['CommonStockSharesOutstanding']*data['price'])
    data['1/PER'] = data['NetIncomeLoss'] / (data['price'] * data['CommonStockSharesOutstanding'])
    data['ROA'] = data['NetIncomeLoss'] / data['Assets']
    data['ROE'] = data['NetIncomeLoss'] / data['StockholdersEquity']
    data['1/PBR'] = data['Assets'] / (data['price'] * data['CommonStockSharesOutstanding'])
    data['asset_growth'] = (data['Assets_b']-data['Assets']) / data['Assets']


    data['SMB'] = -cal_std(data['Size'])
    v_weight = data[['Size']]
    data['1/PBR_std'] = cal_std(data['1/PBR'])
    data['1/PER_std'] = cal_std(data['1/PER'])
    data['HML'] = make_std((data['1/PBR_std'] + data['1/PER_std'])/2,v_weight)

    data['ROA_std'] = cal_std(data['ROA'])
    data['ROE_std'] = cal_std(data['ROE'])
    data['RMW'] = make_std((data['ROA_std'] + data['ROE_std'])/2, v_weight)

    data['CMA'] = make_std(data['asset_growth'],v_weight)
    data['UMD'] = cal_std(data['log_rtn'])
    data = data.replace({np.nan: None, np.inf: None, -np.inf: None})

    # df_reset = data_raw[['secCode','date','filerName','EndDate']]

    # Convert to dictionary with index included
    result = data[['cik','date','ticker','title','Mkt', 'HML', 'SMB', 'CMA', 'RMW', 'UMD']].to_dict(orient='records')
    
    return result

In [26]:
base_date = '2023Q4'

In [45]:
ed._load_ticker_data()

             cik  ticker                       title
0     0000320193    AAPL                  Apple Inc.
1     0000789019    MSFT              MICROSOFT CORP
2     0001045810    NVDA                 NVIDIA CORP
3     0001018724    AMZN              AMAZON COM INC
4     0001652044   GOOGL               Alphabet Inc.
...          ...     ...                         ...
9750  0001876716   ASUUF  ASPAC II Acquisition Corp.
9751  0001866501  WBX-WT                Wallbox N.V.
9752  0001875493   CSLUF      CSLM ACQUISITION CORP.
9753  0001875493   CSLRF      CSLM ACQUISITION CORP.
9754  0001875493   CSLWF      CSLM ACQUISITION CORP.

[9755 rows x 3 columns]

In [48]:
ticker_df

Empty DataFrame
Columns: [cik, ticker, title]
Index: []

In [49]:
from data.data_fetcher import *

sp_tickers = get_sp_data()
cik_list = list(sp_tickers['CIK'])[:10]
ticker_list = None

In [60]:
import importlib
from data import edgar
importlib.reload(edgar)
from data.edgar import *
import os
import pandas as pd
import numpy as np

ed = EdgarDataFetcher(os.getenv('email'))

ticker_df = ed._load_ticker_data()
ticker_df['cik'] = ticker_df['cik'].astype(int)
if cik_list:
    ticker_df = ticker_df[ticker_df['cik'].isin(cik_list)]
    ticker_list = list(ticker_df['ticker'])
elif ticker_list:
    ticker_df = ticker_df[ticker_df['ticker'].isin(ticker_list)]
    cik_list = list(ticker_df['cik'])
else:
    raise ValueError("You need ticker_list or cik_list")

date_b = str(int(base_date[:4]) - 1) + base_date[4:]


# すべての値をリストのリストに統一する
concept_dict = {
    'NetIncomeLoss': [['USD', f'CY{base_date}']],
    'StockholdersEquity': [['USD', f'CY{base_date}I']],
    'CommonStockSharesOutstanding': [['shares', f'CY{base_date}I']],
    'Assets': [['USD', f'CY{base_date}I'], ['USD', f'CY{date_b}I']]
}
df = ed.get_concepts_data(concept_dict)

In [64]:
import importlib
from data import edgar
importlib.reload(edgar)
from data.edgar import *
import os
import pandas as pd
import numpy as np

ed = EdgarDataFetcher(os.getenv('email'))
cik = cik_list[0]
com_d = ed.get_company_facts(cik)
com_d

,label,description,units
AccountsPayableCurrent,"Accounts Payable, Current",Carrying value as of the balance sheet date of...,"{'USD': [{'end': '2008-12-31', 'val': 13010000..."
AccountsPayableTradeCurrent,"Accounts Payable, Trade, Current",Carrying value as of the balance sheet date of...,"{'USD': [{'end': '2015-12-31', 'val': 56600000..."
AccountsReceivableNetCurrent,"Accounts Receivable, after Allowance for Credi...","Amount, after allowance for credit loss, of ri...","{'USD': [{'end': '2008-12-31', 'val': 31950000..."
AccrualForTaxesOtherThanIncomeTaxesCurrent,"Accrual for Taxes Other than Income Taxes, Cur...",Carrying value as of the balance sheet date of...,"{'USD': [{'end': '2012-12-31', 'val': 87000000..."
AccruedEmployeeBenefitsCurrent,"Accrued Employee Benefits, Current",Carrying value as of the balance sheet date of...,"{'USD': [{'end': '2015-12-31', 'val': 14800000..."
...,...,...,...
ShareBasedCompensationArrangementsByShareBasedPaymentAwardOptionsExpirationsInPeriodWeightedAverageExercisePrice,Share-based Compensation Arrangements by Share...,Weighted average price at which grantees could...,"{'USD/shares': [{'start': '2024-01-01', 'end':..."
SupplierFinanceProgramObligationDecreaseSettlement,None,None,"{'USD': [{'start': '2024-01-01', 'end': '2024-..."
SupplierFinanceProgramObligationIncrease,None,None,"{'USD': [{'start': '2024-01-01', 'end': '2024-..."
UnrecognizedTaxBenefitsDecreasesResultingFromForeignCurrencyTranslation,"Unrecognized Tax Benefits, Decrease Resulting ...",Amount of decrease in unrecognized tax benefit...,"{'USD': [{'start': '2022-01-01', 'end': '2022-..."
UnrecognizedTaxBenefitsIncreasesResultingFromForeignCurrencyTranslation,"Unrecognized Tax Benefits, Increase Resulting ...",Amount of increase in unrecognized tax benefit...,"{'USD': [{'start': '2023-01-01', 'end': '2023-..."

In [67]:

concepts_data = com_d.loc[concept_dict.keys(),:]
pd.DataFrame(concepts_data.iloc[0,:]['units'][concept_dict[concept_name][0][0]])

,start,end,val,accn,fy,fp,form,filed,frame
0,2007-01-01,2007-12-31,4096000000,0001104659-10-007295,2009.0,FY,10-K,2010-02-16,NaN
1,2007-01-01,2007-12-31,4096000000,0001104659-10-029054,2009.0,FY,8-K,2010-05-17,CY2007
2,2008-01-01,2008-06-30,1933000000,0001104659-09-046329,2009.0,Q2,10-Q,2009-07-31,NaN
3,2008-04-01,2008-06-30,945000000,0001104659-09-046329,2009.0,Q2,10-Q,2009-07-31,CY2008Q2
4,2008-01-01,2008-09-30,2924000000,0001104659-09-061503,2009.0,Q3,10-Q,2009-10-30,NaN
...,...,...,...,...,...,...,...,...,...
354,2024-01-01,2024-09-30,3445000000,0000066740-24-000101,2024.0,Q3,10-Q,2024-10-22,NaN
355,2024-07-01,2024-09-30,1372000000,0000066740-24-000101,2024.0,Q3,10-Q,2024-10-22,NaN
356,2024-07-01,2024-09-30,1372000000,0000066740-25-000006,2024.0,FY,10-K,2025-02-05,CY2024Q3
357,2024-01-01,2024-12-31,4173000000,0000066740-25-000006,2024.0,FY,10-K,2025-02-05,CY2024
358,2024-10-01,2024-12-31,728000000,0000066740-25-000006,2024.0,FY,10-K,2025-02-05,CY2024Q4

In [57]:

data_raw = pd.merge(ticker_df, df, on='cik').rename(columns={'end':'date'})

date_e = pd.to_datetime(data_raw['date']).max() + pd.Timedelta(days=5)
date_s = pd.to_datetime(data_raw['date']).min() - pd.Timedelta(days=740)


beta, log_rtn, price_data =  cal_price_data(date_s, date_e, ticker_list, bm_ticker='^SPX')

data = pd.merge(data_raw, beta, on=['ticker'],how='left')
data = pd.merge(data, price_data, on=['date','ticker'],how='left')
data = pd.merge(data, log_rtn, on=['date','ticker'],how='left')

data['Size'] = np.log(data['CommonStockSharesOutstanding']*data['price'])
data['1/PER'] = data['NetIncomeLoss'] / (data['price'] * data['CommonStockSharesOutstanding'])
data['ROA'] = data['NetIncomeLoss'] / data['Assets']
data['ROE'] = data['NetIncomeLoss'] / data['StockholdersEquity']
data['1/PBR'] = data['Assets'] / (data['price'] * data['CommonStockSharesOutstanding'])
data['asset_growth'] = (data['Assets_1']-data['Assets']) / data['Assets']


data['SMB'] = -cal_std(data['Size'])
v_weight = data[['Size']]
data['1/PBR_std'] = cal_std(data['1/PBR'])
data['1/PER_std'] = cal_std(data['1/PER'])
data['HML'] = make_std((data['1/PBR_std'] + data['1/PER_std'])/2,v_weight)

data['ROA_std'] = cal_std(data['ROA'])
data['ROE_std'] = cal_std(data['ROE'])
data['RMW'] = make_std((data['ROA_std'] + data['ROE_std'])/2, v_weight)

data['CMA'] = make_std(data['asset_growth'],v_weight)
data['UMD'] = cal_std(data['log_rtn'])
data[['cik','date','ticker','title','Mkt', 'HML', 'SMB', 'CMA', 'RMW', 'UMD']]

,cik,date,ticker,title,Mkt,HML,SMB,CMA,RMW,UMD
0,1551152,2023-12-31,ABBV,AbbVie Inc.,0.314947,NaN,NaN,1.238243,-3.000000,-0.643976
1,1467373,2023-11-30,ACN,Accenture plc,1.174486,NaN,NaN,-0.641701,1.031997,-0.089493
2,1800,2023-12-31,ABT,ABBOTT LABORATORIES,0.754523,NaN,NaN,1.016804,NaN,-0.297101
3,2488,2023-12-30,AMD,ADVANCED MICRO DEVICES INC,2.058248,NaN,-1.082096,0.673281,NaN,1.819357
4,796343,2023-12-01,ADBE,ADOBE INC.,1.513402,NaN,-1.216607,-0.675594,NaN,1.156578
5,66740,2023-12-31,MMM,3M CO,0.778849,1.025186,0.094389,-0.574761,2.341983,-0.717919
6,4977,2023-12-31,AFL,AFLAC INC,0.669845,NaN,0.296476,1.386842,NaN,0.208636
7,1090872,2024-01-31,A,"AGILENT TECHNOLOGIES, INC.",1.068728,-2.251576,0.489048,0.703146,-0.742936,-0.436974
8,91142,2023-12-31,AOS,SMITH A O CORP,0.956214,NaN,NaN,1.342688,NaN,0.638931
9,874761,2023-12-31,AES,AES CORP,1.088261,NaN,1.418789,-1.580662,NaN,-1.638038

In [38]:
date_e = pd.to_datetime(data_raw['end']).max() + pd.Timedelta(days=5)

In [37]:
pd.to_datetime(data_raw['end']).max()

Timestamp('2024-01-31 00:00:00')

In [20]:
import datetime
date_b = str(int(date[:4]) -1) + date[4:]

concept_names = [
    'NetIncomeLoss',
    'Assets',
    # 'OperatingIncomeLoss',
    'StockholdersEquity',
    'CommonStockSharesOutstanding'
]
concept_names_i = [
    'Assets',
    'StockholdersEquity',
]
df = pd.DataFrame()

for concept_name in concept_names:
    if concept_name == 'CommonStockSharesOutstanding':
        url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/shares/CY{date}I.json'
    elif concept_name in concept_names_i:
        url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/USD/CY{date}I.json'
    else:
        url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/USD/CY{date}.json'
    data = get_data(url)
    df_ = pd.DataFrame(data['data'])
    # df_ = df_[df_['cik'].isin(sp_cik)].loc[:,['cik','val']]
    df_ = df_.loc[:,['cik','end','val']]
    df_ = df_.rename(columns={'val':concept_name})
    if len(df) == 0:
        df = df_
    else:
        df = pd.merge(df, df_, on=['cik','end'])

concept_name = 'Assets'
url = f'https://data.sec.gov/api/xbrl/frames/us-gaap/{concept_name}/USD/CY{date_b}I.json'
data = get_data(url)
df_ = pd.DataFrame(data['data'])
df_ = df_.loc[:,['cik','val']]
df_ = df_.rename(columns={'val':concept_name})
df = pd.merge(df, df_, on=['cik'], suffixes=['', '_b'])
df_sp = df[df['cik'].isin(sp_cik)]
data_raw = pd.merge(ticker_df,df_sp,  on=['cik'])
data_raw = data_raw.rename(columns={'end':'date'})
print(data_raw)

date_e = datetime.datetime.strptime(str(df_sp['end'].max()), '%Y-%m-%d')+datetime.timedelta(days=5)

date_s = datetime.datetime.strptime(str(df_sp['end'].min()), '%Y-%m-%d')-datetime.timedelta(days=740)


beta, log_rtn, price_data =  cal_price_data(date_s, date_e, ticker_list, bm_ticker='^SPX')

data = pd.merge(data_raw, beta, on=['ticker'],how='left')
data = pd.merge(data, price_data, on=['date','ticker'],how='left')
data = pd.merge(data, log_rtn, on=['date','ticker'],how='left')

data['Size'] = np.log(data['CommonStockSharesOutstanding']*data['price'])
data['1/PER'] = data['NetIncomeLoss'] / (data['price'] * data['CommonStockSharesOutstanding'])
data['ROA'] = data['NetIncomeLoss'] / data['Assets']
data['ROE'] = data['NetIncomeLoss'] / data['StockholdersEquity']
data['1/PBR'] = data['Assets'] / (data['price'] * data['CommonStockSharesOutstanding'])
data['asset_growth'] = (data['Assets_b']-data['Assets']) / data['Assets']


data['SMB'] = -cal_std(data['Size'])
v_weight = data[['Size']]
data['1/PBR_std'] = cal_std(data['1/PBR'])
data['1/PER_std'] = cal_std(data['1/PER'])
data['HML'] = make_std((data['1/PBR_std'] + data['1/PER_std'])/2,v_weight)

data['ROA_std'] = cal_std(data['ROA'])
data['ROE_std'] = cal_std(data['ROE'])
data['RMW'] = make_std((data['ROA_std'] + data['ROE_std'])/2, v_weight)

data['CMA'] = make_std(data['asset_growth'],v_weight)
data['UMD'] = cal_std(data['log_rtn'])
data = data.replace({np.nan: None, np.inf: None, -np.inf: None})

# df_reset = data_raw[['secCode','date','filerName','EndDate']]

# Convert to dictionary with index included
result = data[['cik','date','ticker','title','Mkt', 'HML', 'SMB', 'CMA', 'RMW', 'UMD']].to_dict(orient='records')

TypeError: get_data() missing 1 required positional argument: 'api_key'

In [69]:
ticker_list

['MMM', 'A']

In [68]:
df_['cik'][:10]

0    1750
1    1800
2    1961
3    2098
4    2178
5    2186
6    2488
7    2969
8    3197
9    3453
Name: cik, dtype: int64

In [66]:
cik_list

[66740, 91142, 1800, 1551152, 1467373, 796343, 2488, 874761, 4977, 1090872]

## get factor data

In [12]:
get_factor_data("fama_french")

/workspaces/マイドライブ/quantechia/factor/fama_french.py:23: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  data = ff.FamaFrenchReader(dataname, start=start,).read()
/workspaces/マイドライブ/quantechia/factor/fama_french.py:23: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  data = ff.FamaFrenchReader(dataname, start=start,).read()

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
1963-07   -0.39 -0.41 -0.97  0.68 -1.18  0.27
1963-08    5.07 -0.80  1.80  0.36 -0.35  0.25
1963-09   -1.57 -0.52  0.13 -0.71  0.29  0.27
1963-10    2.53 -1.39 -0.10  2.80 -2.01  0.29
1963-11   -0.85 -0.88  1.75 -0.51  2.24  0.27
...         ...   ...   ...   ...   ...   ...
2024-08    1.61 -3.65 -1.13  0.85  0.86  0.48
2024-09    1.74 -1.02 -2.59  0.04 -0.26  0.40
2024-10   -0.97 -0.88  0.89 -1.38  1.03  0.39
2024-11    6.51  4.78 -0.05 -2.62 -2.17  0.40
2024-12   -3.17 -3.87 -2.95  1.82 -1.10  0.37

[738 rows x 6 columns]

In [ ]:
factor_data